@mixin btn-style {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 1vw;
  text-align: center;
  margin: 0 1%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.text-container {
  flex-grow: 1;
  font-size: 0.9vw;
  font-weight: 500;

  &--save-btn {
    width: fit-content;
    border-radius: 10px;
    background-color: yellow;
    padding: 5px 10px;
    color: #535151;
    font-weight: 500;
    font-size: 1vw;
    text-align: center;
    cursor: pointer;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-btn {
  @include btn-style;
  flex-grow: 1;
  background-color: yellow;
  color: #535151;
  border-radius: 10px;
  cursor: pointer;
}

.update-btn {
  @include btn-style;
  flex-grow: 1;
  background-color: green;
  color: #f8f4f4;
  border-radius: 10px;
  cursor: pointer;
}

.count {
  @include btn-style;
  flex-grow: 1;
  background-color: white;
  color: #000000;
}
